.textTitle {
    color:rgb(91, 186, 245);
    line-height: 1.2;
    font-weight: 900;
    font-size: 55px;
    margin-bottom: 40px;
}

.flavourText {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 40px;
}

.textBody {
    margin-bottom: 40px;
    line-height: 1.6;
}

.logoList {
    display: flex;
    width: 100%;
    text-align: center;
}

.logos {
    /* display:inline-block; */
    margin-right: 10px;
}

.logoPic {
    font-size: 55px;
}