.formBox {
color: white;
background-color: rgba(169, 169, 169, 0.212);
width: 80%;
height: 100%;
padding: 10px;
box-shadow: rgb(250, 250, 250) 0px 1px 3px, rgba(255, 250, 250, 0.952) 0px 1px 2px
}

.formBox input {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 5px;
    box-sizing: border-box;
}

.formBox .notesInput {
    width: 82%;
}

.formBox button {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 5px;
    box-sizing: border-box;
}