.App {
  text-align: center;
}

.body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,2fr));
  grid-column-gap: 50px;
  padding: 10px 100px;
}

.body::before{
  content:"";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.25);
  }

.left {
  margin-bottom: 50px;
  text-align: left;
}

.right {
  margin-bottom: 50px;
}